<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
        <title>{{ site.title }}</title>
    {% endblock %}
</head>

<body>
<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    {% block footer %}
        <style>
          footer {
            margin-inline: auto;
            margin-top: 3rem;
            padding-inline: 1rem;
            font-size: 0.8em;
            padding-bottom: .5rem;
            @media (max-width: 768px) {
              text-align: center;
            }
          }
          a {
            color: inherit;
          }
        </style>
        <a href="/accessibility-statement">web无障碍声明</a><br>
        © 2023 Brandon Zhang
    {% endblock %}
</footer>
</body>
</html>